---
import GithubIcon from "../assets/icons/Github.svg";

const { title, description, image, repository, techs = [] } = Astro.props;
---

<div class="flex flex-col items-center p-4 gap-2 w-xl h-[460px] rounded-[10px] outline-2 outline-lime-300 bg-[#2B173D]">
    <div class="relative flex justify-start items-end w-full h-72 rounded-lg">
        <img class="size-full object-cover rounded-lg" src={image} alt={title} loading="lazy" />
        <div class="absolute flex justify-end items-start flex-col p-2 gap-2 h-full w-full">
            {techs.map((tech: { logo: any; name: string }) => {
                return tech.logo ? (
                    <div class="group flex items-center p-2 rounded-full bg-neutral-900 transition-all duration-300 hover:pr-4 hover:pl-2">
                        <tech.logo class="p-1 size-8 rounded-full border-2 border-stone-300 group-hover:border-lime-300 transition-colors duration-300" />
                        <span class="opacity-0 text-stone-300 text-base font-medium max-w-0 group-hover:max-w-[100px] overflow-hidden group-hover:opacity-100 group-hover:ml-2 transition-all duration-300 ">{tech.name}</span>
                    </div>
                ) : null;
            })}
        </div>
    </div>
    <div class="flex justify-between items-center gap-2 w-full">
        <h3 class="text-white text-4xl font-medium">{title}</h3>
        <a
            href={repository}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center px-3 py-2 gap-2 rounded-2xl text-xl bg-zinc-900"
        >
            <GithubIcon class="size-5" />
            Repository
        </a>
    </div>
    <p class="text-stone-300 w-full text-start text-3xl">{description}</p>
</div>